<p>image works!</p>
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      
    </section>
    <br>
    <br>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <br>
           
            <div class="text-center mt-5">
              <h2>
                <span class="font-weight-light" placement="left" ngbTooltip="username"><i class="ni ni-circle-08"></i></span>
                {{user.username}}
              </h2>
              <div class="h5 font-weight-300" ><i class="ni ni-single-02" placement="left"  ngbTooltip="firstname & lastname">  </i>  {{user.firstname}} {{user.lastname}}</div>
              <div class="h5 font-weight-300"  ><i class="ni ni-email-83" placement="left" ngbTooltip="email">  </i>{{user.email}}</div>
              <div class="h5 font-weight-300" ><i class="ni ni-mobile-button"  placement="left" ngbTooltip="phone">  </i>{{user.phone}}</div>
              <div class="h5 font-weight-300" ><i class="ni ni-building"  placement="left" ngbTooltip="address"></i>
                {{user.address}}</div>
                <br>
                <br>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                <label class="btn btn-default p-0">
                  <input type="file"  accept="image/*" (change)="selectFile($event)" />
                </label>
              </div>
              </div>
            
              <div class="col-4">
                <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                  Upload
                </button>
              </div>
              <div class="alert alert-warning" *ngIf="isUpFailed">
                Update failed!<br />{{ errorMessage }}
              </div>
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your profile has been updated successfully!
              </div>
            </div>
            <!-- <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                  <a href="javascript:void(0)">Show more</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </main>
  