<div class="container">
  <header class="jumbotron">

  </header>
  <h2> please select an oasis</h2>
  <div class="col-sm-6 mb-3">
    <div class="form-group">
      <label for="Address">oasis</label>
      <select name="role" class="form-control">
        <option value="ROLE_ADMIN">Oasis1</option>
        <option value="ROLE_CLIENT">Oasis2</option>
        <option value="ROLE_USER">Oasis3</option>
      </select>

    </div>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="row">
      <!-- <div class="col-sm-6 mb-3">
        <div>
          <canvas id="Chart1" width="400" height="400"></canvas>
        </div>
      </div> -->
      <div class="col-sm-6 mb-5">
        <div>
          <canvas id="Chart2" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="col-sm-6 mb-5">
        <div>
          <canvas id="Chart3" width="400" height="400"></canvas>
        </div>
        <!-- <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
      </div>
    </div>

  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">location</th>
        <th scope="col">owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  </div>
  