<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
           
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
              
              </div>
              <div class="btn-wrapper text-center">
                <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <!-- <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                   
                  </span>
                  <span class="btn-inner--text">
                    
                  </span>
                </a> -->
                
              </div>
            </div> 
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
               <!-- <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    added context 
                    <input placeholder="User_name" type="username" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                      Username is required!
                    </div>
                   
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                     added context 
                    <input placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                      #password="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                    </div>
                   
                    </div>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                      <label class="custom-control-label" for=" customCheckLogin">
                        <span>Remember me</span>
                      </label>
                    </div> 
                <div class="form-group">
                  <button type="button" class="btn btn-primary my-4">Sign in</button>
                </div>
                <div class="form-group">
                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>  -->
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input  placeholder="username" type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                  Username is required!
                </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input placeholder="password" type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                  #password="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                  Login failed: {{ errorMessage }}
                </div>
              </div>
            </form>
            </div>
          </div>
          <div class="row mt-3">
             <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small></small>
              </a>
            </div> 
            <div class="col-6 text-right">
              <a href="javascript:void(0)" class="text-light" [routerLink]="['/register']">
                <small>Create new account</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
