<div class="container">
    <header class="jumbotron">

    </header>
    <h1>Add a new service</h1>
  
    <form (ngSubmit)="submit()">
  
      <div class="form-group">
        <label for="offername">Service name</label>
        <input [(ngModel)]="form.offername" id="offername" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="prixunit">prix for a unit</label>
        <input [(ngModel)]="form.prixunit" id="prixunit" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <textarea rows="5" [(ngModel)]="form.description" id="description" type="text" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="file">image </label>
        <input id="file" type="file" class="form-control" (change)="onFileChange($event)">
      </div>
      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>
      <div *ngIf="isnotSuccessful" class="alert alert-warning text-center">
      Adding new service failed!<br />{{ errorMessage }}
    </div>
    <div *ngIf="isSuccessful" class="alert alert-success text-center">
    </div>
    </form>
    <br>
    <br>
  </div>
  