<br>
<br>
    <button class="btn btn-1 btn-info" type="button" placement="top" ngbTooltip="add a new service"
    (click)="addservice()">ADD</button>
<div class="event-schedule-area-two bg-color pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h2>List of Services</h2>
                    </div>

                </div>
            </div>
        </div>
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th scope="col">Images</th>
                                        <th scope="col">Service name and description</th>
                                        <th scope="col">price</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="inner-box" *ngFor="let offer of offers ; index as i">
                                        <th scope="row">
                                            <div class="event-date">
                                                <span>{{i+1}}</span>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="event-img">
                                                <img src="{{offer.image.url}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="event-wrap">
                                                <h3><a href="#">{{ offer.name }}</a></h3>
                                                <div class="meta">
                                                    <div class="time">
                                                        <span>{{ offer.description }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="r-no">
                                                <span>{{ offer.prixunit }}TND</span>
                                            </div>
                                        </td>
                                        <td>
                                            <!-- <div class="primary-btn">
                                                <a class="btn btn-primary" href="#">Read More</a>
                                            </div> -->
                                            <li class="nav-item" ngbDropdown placement="bottom-right">
                                                <a class="nav-link nav-link-icon no-caret"
                                                    id="navbar-default_dropdown_1" ngbDropdownToggle>
                                                    <i class="ni ni-settings-gear-65"></i>
                                                    <span class="nav-link-inner--text d-lg-none"></span>
                                                </a>
                                                <div class="dropdown-menu-right"
                                                    aria-labelledby="navbar-default_dropdown_1" ngbDropdownMenu>
                                                    <a class="dropdown-item" (click)="delete(offer.id)">delete</a>
                                                    <a class="dropdown-item" (click)="update(offer.id)">update</a>

                                                </div>
                                            </li>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>