<div class="container">
    <header class="jumbotron">

    </header>
    <h2> join our team</h2>
    <br>
    <div class="row">
    <div class="col-md-6"> 
        <button class="btn btn-block btn-primary mb-3" (click)="open(classic1, 'modal_mini', 'sm')">
           Stage
        </button>
        <ng-template #classic1 let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
                  <div class="text-muted text-center mb-3">
                    <small>please fill the form</small>
                  </div>
                  
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="form-group">
                        <label for="offername">selectionner un offer</label>
                        <select name="offer" (change)="changeoffer($event)" class="form-control">
                            <option>--- Select ---</option>
                            <option value="{{off.name}}" *ngFor="let off of offers ">
                                {{off.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nbrunit"> nombre d'arbres</label>
                        <input type="number" class="form-control" name="nbrunit" [(ngModel)]="form.nbrunit" required
                            #nbrunit="ngModel" />
                        <div class="alert-danger" *ngIf="nbrunit.errors && f.submitted">
                            <div *ngIf="nbrunit.errors.required">nombre d'arbres est requise</div>
        
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region"> region</label>
                        <input type="text" class="form-control" name="region" [(ngModel)]="form.region" required
                            #region="ngModel" />
                        <div class="alert-danger" *ngIf="region.errors && f.submitted">
                            <div *ngIf="region.errors.required">la région est requise</div>
        
                        </div>
                    </div>
        
                    <div class="form-group">
                        <div class="row">
                            
                                <button class="btn btn-primary" type="submit">add</button>
                           
                        </div>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    </div>
    <div class="col-md-6"> 
        <button class="btn btn-block btn-warning mb-3" (click)="open(classic2, 'Notification', '')">
           Career
        </button>
        <ng-template #classic2 let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
                  <div class="text-muted text-center mb-3">
                    <small>Sign in with</small>
                  </div>
                  <div class="btn-wrapper text-center">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon">
                        <img src="./assets/img/icons/common/github.svg">
                      </span>
                      <span class="btn-inner--text">Github</span>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon">
                        <img src="./assets/img/icons/common/google.svg">
                      </span>
                      <span class="btn-inner--text">Google</span>
                    </a>
                  </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <small>Or sign in with credentials</small>
                  </div>
                  <form [formGroup]="myForm" (ngSubmit)="submit()">

                    <div class="form-group">
                        <label for="offername">Service name</label>
                        <input formControlName="offername" id="offername" type="text" class="form-control">
                        <div *ngIf="f.offername.touched && f.offername.invalid" class="alert alert-danger">
                            <div *ngIf="f.offername.errors && f.offername.errors.required">Service name is required.</div>
                            <div *ngIf="f.offername.errors && f.offername.errors.minlength">Service name should be 4 character.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prixunit">prix for a unit</label>
                        <input formControlName="prixunit" id="prixunit" type="text" class="form-control">
                        <div *ngIf="f.prixunit.touched && f.prixunit.invalid" class="alert alert-danger">
                            <div *ngIf="f.prixunit.errors && f.prixunit.errors.required">Name is required.</div>
                            <div *ngIf="f.prixunit.errors && f.prixunit.errors.minlength">Name should be 3 character.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <textarea rows="5" cols="10" formControlName="description" id="description" type="text"
                            class="form-control">
                    <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                        <div *ngIf="f.description.errors && f.description.errors.required">Name is required.</div>
                        <div *ngIf="f.description.errors && f.description.errors.minlength">Name should be 3 character.</div>
                    </div>
                </textarea>
                    </div>
            
                    <div class="form-group">
                        <label for="file">image </label>
                        <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                            <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                        </div>
                    </div>
            
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    </div>
    </div>
    <br>
    <br>
</div>