<div *ngIf="show">
    <div class="container">
        <header class="jumbotron">

        </header>

        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
                <label for="offername">select the offer name *</label>
                <select name="offer" (change)="changeoffer($event)" class="form-control">
                    <option>--- Select ---</option>
                    <option value="{{off.name}}" *ngFor="let off of offers ">
                        {{off.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="nbrunit"> number of trees *</label>
                <input type="number" class="form-control" name="nbrunit" [(ngModel)]="form.nbrunit" required
                    #nbrunit="ngModel" />
            </div>
            <div class="form-group">
                <label for="region">address of the location *</label>
                <input type="text" class="form-control" name="region" [(ngModel)]="form.region" required
                    #region="ngModel" />
            </div>

            <div class="form-group">
                <label for="region"> the date for the order *</label>
                <input type="date" class="form-control" name="datec" [(ngModel)]="form.datec" required
                    #datec="ngModel" />
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-1 offset-md-11">
                        <button class="btn btn-warning" type="submit">add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>