<div class="container">
    <header class="jumbotron">

    </header>

    <h1>update service</h1>

    <form name="form" (ngSubmit)="submit()" #f="ngForm">

        <div class="form-group">
            <label for="name">Service name</label>
            <input  type="text" class="form-control" name="name" [(ngModel)]="form.name"    #name="ngModel"  />   
        </div>
        <div class="form-group">
            <label for="prixunit">prix for a unit</label>
            <input  name ="prixunit" #prixunit="ngModel"  [(ngModel)]="form.prixunit" type="number" class="form-control" >
         
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea rows="5" cols="10" #description="ngModel" [(ngModel)]="form.description"   type="text"
                class="form-control"></textarea>
    
        </div>
        <div class="form-group">
            <label for="file">image </label>
            <input name="file" id="file" type="file" class="form-control" (change)="onFileChange($event)" value="">
          
        </div>
       

        <img [src]="imageSrc"  style="height: 300px; width:500px">
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> update</button>
    </form>
    <br>
    <br>
</div>